<div class="container">
    <div ng-if="operationStatus == 'SUCCESS'" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{message}}
    </div>

    <div ng-if="operationStatus == 'FAILURE'" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Oh Snap!</strong> {{message}}
    </div>

    <fieldset>
        <legend>Add a Sub Speciality</legend>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="selectSite" class="col-md-2 control-label">Select Speciality</label>
                <div class="col-md-10">
                    <select class="form-control" ng-init="subspeciality.speciality_Id=specialityList[0].specialityId" required ng-model="subspeciality.speciality_Id">
                        <option ng-repeat="speciality in specialityList" value="{{speciality.specialityId}}">{{speciality.speciality}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="nameInput">Sub Speciality Name :</label>
                <!--class "form-control" makes the width 100%-->
                <div class="col-md-10">
                    <input class="form-control" placeholder="Subspeciality" type="text" id="subspeciality.name" ng-model="subspeciality.name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="emailInput" class="col-md-2 control-label">Image :</label>
                <div class="col-md-10">
                    <row>
                        <div class="col-md-8">
                            <div class="cropArea">
                              <img-crop image="subSpecialityImage" result-image="subSpecialityCroppedImage" result-image-format="image/jpeg" result-image-size="120"></img-crop>
                            </div>
                            <div><input type="file" id="subSpecialityFileInput" /></div>
                        </div>
                        <div  class="col-md-4">
                            <div>Cropped Image:</div>
                            <div><img ng-src="{{subSpecialityCroppedImage}}" /></div>
                        </div>
                    </row>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button class="btn btn-primary" type="submit" ng-click="addSubSpeciality()">
                         <span class="glyphicon glyphicon-cloud-upload"></span> Add Sub Speciality
                    </button>
                </div>
            </div>
        </form>
    </fieldset>

    <fieldset>
        <legend>SubSpeciality List</legend>
        <div class="form-group">
            <label for="table" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <table class = "table table-striped">
                   <thead>
                      <tr>
                         <th>Speciality</th>
                         <th>SubSpeciality Name</th>
                         <th>Status</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr ng-repeat="subspeciality in subSpecialityList | filter: subspeciality.name">
                         <td>{{findSpecialityById(subspeciality.specialityId)}}</td>
                         <td>{{subspeciality.subSpeciality}}</td>
                         <td>{{subspeciality.status}}</td>
                      </tr>
                   </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
